a {
  text-decoration: none;
}

.signImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centered {
  position: absolute;
  color: #f0ffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered:hover {
  cursor: context-menu;
}

.icon:hover {
  cursor: context-menu;
}

@media screen and (max-width: 480px) {
  .signImage {
    display: none;
  }
}